@mixin breakpoint($point) {
  @if $point == xsmall {
    @media (min-width: 0) { @content ; }
  }
  @else if $point == small {
    @media (min-width: 300px) { @content ; }
  }
  @else if $point == medium-less {
    @media (min-width: 480px) { @content ; }
  }
  @else if $point == medium {
    @media (min-width: 640px) { @content ; }
  }
  @else if $point == large {
    @media (min-width: 1024px)  { @content ; }
  }
  @else if $point == xlarge {
    @media (max-width: 1200px)  { @content ; }
  }
  @else if $point == xxlarge {
    @media (max-width: 1440px)  { @content ; }
  }
}
