<template>
  <div class="home">
    <Versus v-show="activeTab === 'versus'"></Versus>
    <Ranking v-show="activeTab === 'ranking'"></Ranking>
    <button @click="changeTabs">
      <span v-if="activeTab === 'versus'">Voir le Classement</span>
      <span v-if="activeTab === 'ranking'">Retourner au Versus</span>
    </button>
  </div>
</template>

<script>

import Versus from '@/components/Versus'
import Ranking from '@/components/Ranking'
export default {
  name: 'Home',
  components: { Versus, Ranking },
  data () {
    return {
      activeTab: 'versus'
    }
  },
  methods: {
    changeTabs () {
      if (this.activeTab === 'versus') {
        this.activeTab = 'ranking'
      } else {
        this.activeTab = 'versus'
      }
    }
  },
  computed: {
    isVersusActive () {
      return this.activeTab === 'versus'
    }
  }
}
</script>

<style lang="scss" scoped>
  .home{
    min-height: 100vh;

    @apply bg-purple-900;

  }
  button {
    @apply bg-green-500 p-4 w-full fixed bottom-0 text-white uppercase font-bold mt-4;
  }
</style>
