<template>
  <div class="ranking-container">
    <h2>Classement</h2>
    <div class="rank-tile grid grid-cols-9" v-for="animal in sortedZoo" :key="animal.id">
      <img class="col-span-2" :src="'/img/' + animal.name + '.webp'" alt="animal.name">
      <p class="col-span-5">{{ animal.name }}</p>
      <p class="col-span-2 text-center">{{ animal.score }}</p>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: "Ranking",
  computed: {
    ...mapGetters(['zoo']),
    sortedZoo () {
      let sortedZoo = this.zoo
      sortedZoo.sort(function (a, b) {
        return b.score - a.score
      })
      return sortedZoo
    }
  }
}
</script>

<style lang="postcss" scoped>
.ranking-container{
  @apply pb-20;
}
h2{
  @apply font-bold text-white text-4xl w-full text-center py-4;
}
img{
  width: 15vw;
}
.rank-tile{
  @apply border-b border-t border-gray-700 py-2 pl-4;
}
p{
  @apply leading-10 pt-3 text-white capitalize font-bold text-2xl;
}
</style>
