<template>
  <div class="versus-container" v-if="areOpponentsSet">
    <h2>Versus</h2>
    <div v-if="this.versusIndex.length < nbVersusMax" class="animal-card">
      <img :src="'/img/' + getAnimalA.name + '.webp'" :alt="getAnimalA.name" @click="setWinner(getAnimalA)">
    </div>
    <div v-if="this.versusIndex.length < nbVersusMax">
      <p class="vs">vs</p>
    </div>
    <div v-if="this.versusIndex.length < nbVersusMax" class="animal-card">
      <img :src="'/img/' + getAnimalB.name + '.webp'" :alt="getAnimalB.name" @click="setWinner(getAnimalB)">
    </div>
    <div v-if="this.versusIndex.length >= nbVersusMax" class="end-screen">
      <img src="../assets/img/bravo.jpg" alt="bravo">
      <p>Vous avez participé à tous les Versus disponibles ! Découvrez dès maintenant le classement de vos animaux favoris !</p>
    </div>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  name: "Versus",
  data () {
    return {
      idA: null,
      idB: null,
      versusIndex: []
    }
  },
  computed: {
    ...mapGetters(['zoo']),
    getAnimalA () {
      return this.zoo.find(animal => animal.id === this.idA)
    },
    getAnimalB () {
      return this.zoo.find(animal => animal.id === this.idB)
    },
    areOpponentsIdentical () {
      return this.idA === this.idB
    },
    areOpponentsSet () {
      return typeof this.idA == "number" && typeof this.idB == "number"
    },
    isVersusValid () {
      return this.versusIndex.some(versus => versus.includes(this.idA) && versus.includes(this.idB))
    },
    nbVersusMax () { // @Kévin il s'agit de l'application de la formule dont nous avions discuté => C = n*(n-1)/2 . La doc nomme cette fonction : Définition possible des coefficients binominaux =)
      return this.zoo.length*(this.zoo.length-1)/2
    }
  },
  methods: {
    setOpponents () {
      this.idA = this.getRandomId()
      this.idB = this.getRandomId()
      while (this.areOpponentsIdentical) {
        this.idB = this.getRandomId()
      }
    },
    getRandomId () {
      return Math.floor(Math.random() * Math.floor(this.zoo.length));
    },
    setWinner (winner) {
      this.$store.commit('SET_WINNER', winner)
      this.versusIndex.push([this.idA, this.idB])
      if(this.versusIndex.length < this.nbVersusMax) {
        while (this.isVersusValid) {
          this.setOpponents()
        }
      }
    }
  },
  mounted () {
    this.setOpponents()
  }
}
</script>

<style lang="scss" scoped>
  h2 {
    @apply text-white capitalize font-bold text-4xl py-1 text-center;
  }
  .versus-container{
    max-height: 100vh;

    @apply pt-2 md:pt-48;
  }
  img{
    width: 60vw;

    @apply h-auto md:w-80 rounded-xl;
  }
  .vs {
    @apply w-max mx-auto px-9 pt-8 pb-9 -my-12 bg-white rounded-full text-4xl leading-9 text-pink-700 font-bold border-pink-700 border-8;

    transform: rotate(-45deg);
  }
  .end-screen{
    @apply mx-auto p-10 text-center text-white uppercase font-bold;
    img{
      @apply mx-auto;
    }
  }
  .animal-card {
    @apply bg-white w-max my-2 mx-auto p-3 rounded-xl;

    box-shadow: 0 0 10px white;
  }
</style>
